body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    margin: 0;
}

.glowbutton {
    border: 0.25em solid rgb(176, 252, 255);
    padding: 1em 3em;
    color: rgb(206, 255, 255);
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(61, 127, 136);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em rgb(176, 252, 255),
        0 0 4em 1em rgba(123, 251, 255, 0.781),
        inset 0 0 0.75em 0.25em rgb(176, 252, 255);
    text-shadow: 0 0 0.5em rgb(176, 252, 255);
    position: relative;
    transition: all 0.3s;
}

.glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(123, 251, 255, 0.781);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.glowbutton:hover {
    color: rgb(61, 127, 136);
    background-color: rgb(176, 252, 255);
    box-shadow: 0 0 1em 0.25em rgb(176, 252, 255),
    0 0 4em 2em rgba(123, 251, 255, 0.781),
    inset 0 0 0.75em 0.25em rgb(176, 252, 255);
}
.glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em rgb(176, 252, 255),
    0 0 2.5em 2em rgba(123, 251, 255, 0.781),
    inset 0 0 0.5em 0.25em rgb(176, 252, 255);
}